<h1><%= t('Show'.downcase) %> : <%= t('activerecord.models.roles_user') %></h1>

<p>
  <b><%= t('activerecord.attributes.roles_user.User_id'.downcase) %>:</b>
  <%=h @roles_user.user_id %>
</p>

<p>
  <b><%= t('activerecord.attributes.roles_user.Role_id'.downcase) %>:</b>
  <%=h @roles_user.role_id %>
</p>

<p>
  <b><%= t('activerecord.attributes.roles_user.Remarks'.downcase) %>:</b>
  <%=h @roles_user.remarks %>
</p>


<%= link_to t('Edit'.downcase), edit_roles_user_path(@roles_user) %> |
<%= link_to t('Back'.downcase), roles_users_path %>
