<h1><%= t('New'.downcase) %> : <%= t('activerecord.models.auditflow') %></h1>

<% form_for(@auditflow) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :code, t('activerecord.attributes.auditflow.code') %><br />
    <%= f.text_field :code %>
  </p>
  <p>
    <%= f.label :name, t('activerecord.attributes.auditflow.name') %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :name_cn, t('activerecord.attributes.auditflow.name_cn') %><br />
    <%= f.text_field :name_cn %>
  </p>
  <p>
    <%= f.label :rec_type, t('activerecord.attributes.auditflow.rec_type') %><br />
    <%= f.text_field :rec_type %>
  </p>
  <p>
    <%= f.label :status, t('activerecord.attributes.auditflow.status') %><br />
    <%= f.text_field :status %>
  </p>

  <fieldset>
    <legend><%= t('details') %></legend>
    <%= error_messages_for :auditflows_flownode %>
    <table id="auditflows_flownodes">
      <tr align="center">
        <%= fields_table_head({'name' => "auditflow.auditflows_flownode"}, @sheet_detail_fields) %>
      </tr>
      <%= render :partial => "auditflows_flownodes/auditflows_flownode", :collection => @auditflow.auditflows_flownodes %>
    </table>
    <%= add_link t("add".downcase), :auditflows_flownode %>
  </fieldset>

  <p>
    <%= f.label :condition, t('activerecord.attributes.auditflow.condition') %><br />
    <%= f.text_area :condition %>
  </p>
  <p>
    <%= f.label :remarks, t('activerecord.attributes.auditflow.remarks') %><br />
    <%= f.text_area :remarks %>
  </p>

  <p>
    <%= f.submit t('Create'.downcase) %>
  </p>
<% end %>

<%= link_to t('Back'.downcase), auditflows_path %>
