<h1><%= t('Show'.downcase) %> : <%= t('activerecord.models.forms_selfmenu') %></h1>

<p>
  <b><%= t('activerecord.attributes.forms_selfmenu.Selfmenu'.downcase) %>:</b>
  <%=h @forms_selfmenu.selfmenu_id %>
</p>

<p>
  <b><%= t('activerecord.attributes.forms_selfmenu.Form'.downcase) %>:</b>
  <%=h @forms_selfmenu.form_id %>
</p>

<p>
  <b><%= t('activerecord.attributes.forms_selfmenu.Remarks'.downcase) %>:</b>
  <%=h @forms_selfmenu.remarks %>
</p>


<%= link_to t('Edit'.downcase), edit_forms_selfmenu_path(@forms_selfmenu) %> |
<%= link_to t('Back'.downcase), forms_selfmenus_path %>
