<h1>Editing rordemo</h1>
<%= render :partial => "formlogs/formlog"%>
<%= render :partial => "rordemo" %>
<%= link_to 'Show', @rordemo %> |
<%= link_to 'Back', rordemos_path %>
<%= render :partial => "formlogs/formlogs", :locals => {:logs => @rordemo.formlogs} %>

<script type="text/javascript" charset="utf-8">
  $j(window).load(function(){
    form_disabled();
  });
</script>
