<h1>New rordemo</h1>

<% form_for(@rordemo) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :code %>(编码自动生成)<br />
    <%= f.text_field :code, :value => @code %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :recordtype %><br />
    <%= f.text_field :recordtype %>
  </p>
  <p>
    <%= f.label :status %><br />
    <%= f.text_field :status %>
  </p>
  <p>
    <%= f.label :remarks %><br />
    <%= f.text_area :remarks %>
  </p>
  <p>
  <p class='hidden'>
    <%= f.label :code_rule_id, "code_rule_id" %>(编码规则id)<%= f.text_field :code_rule_id %> <!-- 隐藏区域：记录与编码规则表的关联id -->
  </p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', rordemos_path %>
