<p>
<%= t("activerecord.attributes.rordemo.code") %>
  <b>Code:</b>
  <%=h @rordemo.code %>
</p>

<p>
  <b>Name:</b>
  <%=h @rordemo.name %>
</p>

<p>
  <b>Recordtype:</b>
  <%=h @rordemo.recordtype %>
</p>

<p>
  <b>Status:</b>
  <%=h @rordemo.status %>
</p>

<p>
  <b>Remarks:</b>
  <%=h @rordemo.remarks %>
</p>
<p>
  <b>Employe</b><%= @rordemo.employe.name %> <br />
  <b>Department</b><%= @rordemo.department.name %>
</p>


<%= link_to 'Edit', edit_rordemo_path(@rordemo) %> |
<%= link_to 'Back', rordemos_path %>
