<h1><%= t('Editing'.downcase) %> : <%= t('activerecord.models.departmentmanager') %></h1>

<% form_for(@departmentmanager) do |f| %>
  <%= f.error_messages %>

  <p>
     <%= f.label :department_id, t('activerecord.attributes.departmentmanager.department_id') %><br />
    <%= f.text_field :department_id %>
  </p>
  <p>
     <%= f.label :employe_id, t('activerecord.attributes.departmentmanager.employe_id') %><br />
    <%= f.text_field :employe_id %>
  </p>
  <p>
     <%= f.label :remarks, t('activerecord.attributes.departmentmanager.remarks') %><br />
    <%= f.text_area :remarks %>
  </p>
  <p>
    <%= f.submit t('Update'.downcase) %>
  </p>
<% end %>

<%= link_to t('Show'.downcase), @departmentmanager %> |
<%= link_to t('Back'.downcase), departmentmanagers_path %>
