<h1><%= t('Show'.downcase) %> : <%= t('activerecord.models.employe') %></h1>

<p>
  <b><%= t('activerecord.attributes.employe.Code'.downcase) %>:</b>
  <%=h @employe.code %>
</p>

<p>
  <b><%= t('activerecord.attributes.employe.Name'.downcase) %>:</b>
  <%=h @employe.name %>
</p>

<p>
  <b><%= t('activerecord.attributes.employe.Department_id'.downcase) %>:</b>
  <%=h @employe.department.code+@employe.department.name %>
</p>

<p>
  <b><%= t('activerecord.attributes.employe.Remarks'.downcase) %>:</b>
  <%=h @employe.remarks %>
</p>


<%= link_to t('Edit'.downcase), edit_employe_path(@employe) %> |
<%= link_to t('Back'.downcase), employes_path %>
