<h1><%= t('Show'.downcase) %> : <%= t('activerecord.models.field') %></h1>

<p>
  <b><%= t('activerecord.attributes.field.Code'.downcase) %>:</b>
  <%=h @field.code %>
</p>

<p>
  <b><%= t('activerecord.attributes.field.Name'.downcase) %>:</b>
  <%=h @field.name %>
</p>

<p>
  <b><%= t('activerecord.attributes.field.Rec type'.downcase) %>:</b>
  <%=h @field.rec_type %>
</p>

<p>
  <b><%= t('activerecord.attributes.field.Form'.downcase) %>:</b>
  <%=h @field.form_id %>
</p>

<p>
  <b><%= t('activerecord.attributes.field.Name cn'.downcase) %>:</b>
  <%=h @field.name_cn %>
</p>

<p>
  <b><%= t('activerecord.attributes.field.Remarks'.downcase) %>:</b>
  <%=h @field.remarks %>
</p>


<%= link_to t('Edit'.downcase), edit_field_path(@field) %> |
<%= link_to t('Back'.downcase), fields_path %>
