<h1><%= t('New'.downcase) %> : <%= t('activerecord.models.menutree') %></h1>

<% form_for(@menutree) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :code, t('activerecord.attributes.menutree.code') %><br />
    <%= f.text_field :code %>
  </p>
  <p>
    <%= f.label :name, t('activerecord.attributes.menutree.name') %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :parent_id, t('activerecord.attributes.menutree.parent_id') %><br />
    <%= f.text_field :parent_id %>
  </p>
  <p>
    <%= f.label :remarks, t('activerecord.attributes.menutree.remarks') %><br />
    <%= f.text_area :remarks %>
  </p>
  <p>
    <%= f.submit t('Create'.downcase) %>
  </p>
<% end %>

<%= link_to t('Back'.downcase), menutrees_path %>
