<h1><%= t('Show'.downcase) %> : <%= t('activerecord.models.menutree') %></h1>

<p>
  <b><%= t('activerecord.attributes.menutree.Code'.downcase) %>:</b>
  <%=h @menutree.code %>
</p>

<p>
  <b><%= t('activerecord.attributes.menutree.Name'.downcase) %>:</b>
  <%=h @menutree.name %>
</p>

<p>
  <b><%= t('activerecord.attributes.menutree.Parent'.downcase) %>:</b>
  <%=h @menutree.parent_id %>
</p>

<p>
  <b><%= t('activerecord.attributes.menutree.Remarks'.downcase) %>:</b>
  <%=h @menutree.remarks %>
</p>


<%= link_to t('Edit'.downcase), edit_menutree_path(@menutree) %> |
<%= link_to t('Back'.downcase), menutrees_path %>
