
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= controller.controller_name %>: <%= controller.action_name %></title>
  <%= stylesheet_link_tag "base" %>
  <%= javascript_include_tag "application_init" %>
  <%= javascript_include_tag "prototype", "effects", "dragdrop", "controls"%>
  <%= jqgrid_stylesheets %>
  <%= jqgrid_javascripts %>
  <%= javascript_include_tag "application" %>

<!--  start // 2dc_jqgrid js -->
<script type="text/javascript">
    tmeeerp_controller = '';
    tmeeerp_controller = "<%= params[:controller] %>"

    var_id = -1;
    function handleSelection(id) {
        var_id = id;
    }

  function afterSubmit(r, data, action) {
    if(r.responseText != "") { // If an error message is returned
      $('#submit_errors').html('<h1>Error</h1><p>'+r.responseText+'</p>');
      $('#submit_errors').slideDown(); // Show div with error message

      window.setTimeout(function() { // Hide error div after 6 seconds
        $('#submit_errors').slideUp();
      }, 6000);
      return false; // Don't remove this!
    }
    return true; // Don't remove this!
  }


</script>
<!-- // end // 2dc_jqgrid js -->


<!-- // start // init form js -->
<script type="text/javascript" charset="utf-8">
  $j(window).load(function(){
    $j("#tableRecs").jqGrid("setGridParam",{onSelectRow: function(id) {
      var id = $j("#tableRecs").jqGrid("getGridParam","selrow");
      var flow_id, flownode_name
      var form_status_is_exist = ($j("#tableRecs_status").length > 0) // 确定status字段是否存在
      if (id) {
        var ret = $j("#tableRecs").jqGrid("getRowData",id);
        form_status = ret.status;
        flow_id = ret.auditflow_id;
        flownode_name = ret.auditflows_flownode_name;}
      enabledButton(flow_id, flownode_name);
    }});

    function enabledButton(flow_id, flownode_name, form_status, form_status_is_exist){
      var btn_str = "#btn_add, #btn_refresh, #btn_search";
      if (!(form_status_is_exist)) {btn_str = btn_str + ",#btn_update, #btn_delete";} //状态字段不存在，审核相关不可用，删改可用
      else if (form_status && (form_status<'1000')) {btn_str = btn_str + ",#btn_update, #btn_delete, #btn_audit_self";} // 未审核，删、改、自检可用
      if (flow_id && flownode_name) {btn_str  = btn_str + ", #btn_" + flownode_name;} // 审核中，对应流程节点可用
      else {btn_str = btn_str + ", #btn_audit_unaudit";} // 审核中，无对应节点则反审可用
      btn_str = btn_str + ", #btn_show"; // 查看在选择记录后一直可用
      $j("button").attr('disabled',true);
      $j(btn_str).attr('disabled',false);
    }
  });
</script>
<!-- // end // init form js -->

</head>
<body>
  <div id="container">
    <div id="header">
      <h1><a href="/">rorappbase</a></h1>
      <div id="user-navigation">
        <ul class="wat-cf">
          <li><a href="#"><%= t("web-app-theme.profile", :default => "用户信息") %></a></li>
          <li><a href="#"><%= t("web-app-theme.settings", :default => "个人设置") %></a></li>
          <li><a href="/logout" class="logout"><%= t("web-app-theme.logout", :default => "退出") %></a></li>
        </ul>
      </div>
      <div id="main-navigation">
        <ul class="wat-cf"></ul>
      </div>
    </div>
    <div id="wrapper" class="wat-cf">
      <div class="flash">
        <% flash.each do |type, message| -%>
          <div class="message <%= type %>">
            <p><%= message %></p>
          </div>
        <% end -%>
      </div>
      <div id="main">
<p style="color: green"><%= flash[:notice] %></p>

<% if controller.action_name == "index" -%>
  <div id="operation_buttons">
    <%= buttonhtml(controller.record_operation_button) %>
  </div>

  <%= yield %>

  <a href="#" id="tableRecs_select_button">选中记录id</a>
<% else %>
  <%= yield %>
<% end -%>

        <div id="footer">
          <div class="block">
            <p>Copyright &copy; <%= Time.now.year %> tmeeerp.</p>
          </div>
        </div>
      </div>
      <div id="sidebar">
        <%= yield :sidebar %>
      </div>
    </div>
  </div>

</body>
</html>
